[Desktop Entry]
Version=1.0
Name=RileyMaze
Type=Application
Exec=com.endlessm.RileyMaze
StartupNotify=true
Icon=com.endlessm.RileyMaze
Categories=Game;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.RileyMaze.jpg
X-Endless-HackShader=RileyMaze
