div.Animation,
div.Animation > img {
  position: absolute;
}

body {
  margin: 0px;
  overflow: hidden;
  background: url('images/background.png') no-repeat;
}

body > * {
  position: absolute;
}

div.clock > img {
  position: absolute;
}

div.clock > img.hand {
  top: 0px;
  left: 92px;
  transform-origin: 10px 102px;
}

div.clock > img.hand.shadow {
  top: 2px;
  left: 94px;
}

/* Animations */

@keyframes reveal {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#lighting {
  opacity: 0;
  animation: reveal 1s ease-in 1;
  animation-fill-mode: forwards;
}

@keyframes float {
  from { top: 432px; }
  to   { top: 440px; }
}

#OS_daemon_7 {
  animation: float 1s ease-in infinite alternate;
} 
