[Desktop Entry]
Version=1.0
Name=Fizzics
Type=Application
Exec=com.hack_computer.Fizzics
StartupNotify=true
Icon=com.hack_computer.Fizzics
Categories=Game;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.hack_computer.Fizzics.jpg
X-Endless-HackShader=fizzics
