[Desktop Entry]
Version=1.0
Name=HackyBalls
Type=Application
Exec=com.endlessm.hackyballs
StartupNotify=true
Icon=com.endlessm.hackyballs
Categories=Game;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.hackyballs.png
