/*
Copyright © 2020 Endless OS Foundation LLC.

This file is part of hack-toy-apps
(see https://github.com/endlessm/hack-toy-apps).

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
*/
div.Animation,
div.Animation > img {
  position: absolute;
}

body {
  margin: 0px;
  overflow: hidden;
  position: absolute;
  top: -38px;
}

body > * {
  position: absolute;
}

div.clock > img {
  position: absolute;
}

div.clock > img.hand {
  top: 0px;
  left: 92px;
  transform-origin: 10px 102px;
}

div.clock > img.hand.shadow {
  top: 2px;
  left: 94px;
}

/* Animations */

@keyframes reveal {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.reveal {
  opacity: 0;
  animation: reveal 1s ease-in 1;
  animation-fill-mode: forwards;
}

@keyframes float {
  from { top: 432px; }
  to   { top: 440px; }
}

#OS_daemon_7 {
  animation: float 1s ease-in infinite alternate;
} 
