[Desktop Entry]
Version=1.0
Name=System
Type=Application
Exec=com.endlessm.OperatingSystemApp
StartupNotify=true
Icon=com.endlessm.OperatingSystemApp
Categories=Game;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.OperatingSystemApp.png
