body {
    margin: 0px;
}

div#preload {
    display: none;
}

#canvas {
    background: #000 url('images/gate.png');
    background-size: 1920 1040;
    background-position: center;
    background-repeat: no-repeat;
}

#canvas.puzzle {
    background: #000 url('images/sine-gate.png');
    background-size: 1920 1040;
    background-position: center;
    background-repeat: no-repeat;
}

#video {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
}
