/*
Copyright © 2020 Endless OS Foundation LLC.

This file is part of hack-toy-apps
(see https://github.com/endlessm/hack-toy-apps).

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
*/
.needHackOverlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #151634;
    opacity: 0.75;
}

.needHack {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 680px;
    height: 370px;
    background-color: white;
    color: black;
    box-shadow: 0px 10px 33px -22px rgba(0,0,0,0.75);
    text-align: center;
    padding: 40px;
}

.needHack h1 {
    color: #1D1F7C;
}

.needHack button {
    margin-top: 30px;
    display: block;
    padding: 10px;
    background-color: #242682;
    color: #94F3FC;
    font-weight: bold;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 10px 33px -22px rgba(0,0,0,0.75);
    transition: background 0.1s ease-in;
}

.needHack button:hover {
    background-color: #079261;
}
