@font-face {
  font-family: IBMPlexMono;
  src: url(IBMPlexMono-Regular.ttf);
}

@font-face {
  font-family: Metropolis;
  src: url(Metropolis-Black.ttf);
}

*, ::after, ::before {
  box-sizing: border-box;
}

@media (max-width: 1850px) {
  body {
    overflow: scroll;
  }
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.ui__mask {
  background-repeat: no-repeat;
  bottom: 0;
  height: 1080px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: -38px;
  transition: opacity 0.5s ease-in-out;
  width: 1920px;
  z-index: 500;
}

.ui__mask:after {
  background-color: rgb(7, 8, 88);
  bottom: -500px;
  content: "\0020";
  height: 500px;
  left: 0;
  position: absolute;
  right: 0;
  width: 1920px;
  z-index: 500;
}

.ui__mask.visible {
  opacity: 0.55 !important;
}

.ui__mask.cursor_mask {
  background-image: url('../images/hovers/cursor_mask.png');
}

.ui__mask.file_mask {
  background-image: url('../images/hovers/file_mask.png');
}

.ui__mask.window_mask {
  background-image: url('../images/hovers/window_mask.png');
}

.ui__mask.memory_mask {
  background-image: url('../images/hovers/memory_mask.png');
}

.ui__mask.dev_mask {
  background-image: url('../images/hovers/dev_mask.png');
}

.ui__mask.kernel_mask {
  background-image: url('../images/hovers/kernel_mask.png');
}

.ui__mask.clock_mask {
  background-image: url('../images/hovers/clock_mask.png');
}

.ui__mask.system_mask {
  background-color: rgb(7, 8, 88);
}

.ui__mask.daemons_mask {
  background-image: url('../images/hovers/daemons_mask.png');
}

.whole {
  background-image: url(../images/system-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: 900px;
  left: 5px;
  width: 135px;
  height: 135px;
  z-index: 550;
}

.whole:hover {
  background-image: url(../images/system-icon-hover.png);
}

.ui__layer {
  background-color: transparent;
  display: none;
  height: 1080px;
  left: 0;
  padding: 14px 25px;
  position: fixed;
  top: 0;
  width: 1920px;
  z-index: 700;
}

.ui__close-layer {
  background-color: transparent;
  height: 1080px;
  left: 0;
  left: 0;
  padding: 14px 25px;
  position: fixed;
  right: 0;
  top: 0;
  width: 1920px;
  z-index: 700;
}

.ui__layer-close {
  background-color: transparent;
  background-image: url(../images/carrot-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  color: white;
  cursor: pointer;
  height: 51px;
  margin-left: 29px;
  outline: none;
  position: relative;
  top: 16px;
  width: 30px;
  z-index: 710;
}

.ui__layer-close:hover {
  animation: carrot 0.6s linear infinite;
}

@keyframes carrot {
  0% {
    transform: translateX(0);
  }

  99% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}

.ui__layer-title {
  color: #fff;
  display: inline-block;
  font-family: Metropolis, sans-serif;
  font-size: 55px;
  margin: 0;
  margin-left: 110px;
  opacity: 0;
  position: absolute;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  top: 65px;
  transition: visibility 0.9s ease-in-out, opacity 0.9s ease-in-out;
  visibility: hidden;
  width: 600px;
  z-index: 710;
}

.ui__layer-title.visible {
  visibility: visible;
  opacity: 1 !important;
}

.ui__layer-content {
  margin-left: 20px;
  margin-top: 46px;
  z-index: 710;
}

.ui__layer-col {
  float: left;
  width: 420px;
}

.ui__layer-col:not(:last-child) {
  margin-right: 20px;
}

.ui__box {
  color: #fff;
  float: left;
  font-family: IBMPlexMono, monospace;
  min-height: 100px;
  position: relative;
  width: 420px;
}

.loading.ui__box {
  display: none;
}

.ui__box-avatar {
  float: left;
  position: absolute;
  width: 75px;
}

.ui__box-avatar img {
  z-index: 700;
}

.ui__box-name {
  font-size: 22px;
  font-weight: 100;
  margin: 5px 0 15px 144px;
}

.loading.ui__box-bubble {
  height: 31px;
  margin-right: 236px;
  padding: 10px;
  position: relative;
  width: 80px;
}

.ui__box-loading {
  display: none;
  height: 20px;
  left: 50%;
  margin-left: -20px;
  position: relative;
  text-align: center;
  top: -10px;
  width: 40px;
}

.ui__box-loading .dot {
  animation: wave 1.3s linear infinite;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 7px;
  margin-right: 7px;
  width: 7px;
}

.ui__box-loading .dot:nth-child(2) {
  animation-delay: -1.1s;
}

.ui__box-loading .dot:nth-child(3) {
  animation-delay: -0.9s;
}

@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }

  30% {
    transform: translateY(-8px);
  }
}

.loading > .ui__box-loading:after {
  display: block;
}

.loading .ui__box-loading {
  display: inline;
}

.ui__box-bubble-content {
  color: #fff;
  width: 230px;
  transition: all 0.95s ease;
}

.loading .ui__box-bubble-content {
  color: transparent;
  width: 230px;
}

.ui__box-bubble {
  border-radius: 0 15px 15px 15px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
  float: right;
  font-size: 17px;
  line-height: 26px;
  margin-left: 70px;
  margin-right: 5px;
  padding: 40px;
  position: relative;
  transition: all 0.35s ease;
  width: 310px;
  z-index: 715;
}

.ui__box-bubble:before {
  background-color: transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  content: "\0020";
  height: 0;
  left: -20px;
  position: absolute;
  top: -20px;
  transform: rotate(45deg);
  width: 0;
  z-index: 610;
}

.ui__box-bubble-content a {
  color: #fff;
  text-decoration: none;
}

.ada.ui__box-bubble,
.loading.ada.ui__box-bubble:before {
  background-color: rgba(114, 23, 93, 0.8);
}

.ada.ui__box-bubble:before {
  border-bottom: 20px solid rgba(114, 23, 93, 0.8);
}

.estelle.ui__box-bubble,
.loading.estelle.ui__box-bubble:before {
  background-color: rgba(138, 172, 255, 0.8);
}

.estelle.ui__box-bubble:before {
  border-bottom: 20px solid rgba(138, 172, 255, 0.8);
}

.saniel.ui__box-bubble,
.loading.saniel.ui__box-bubble:before {
  background-color: rgba(255, 93, 14, 0.8);
}

.saniel.ui__box-bubble:before {
  border-bottom: 20px solid rgba(255, 93, 14, 0.8);
}

.riley.ui__box-bubble,
.loading.riley.ui__box-bubble:before {
  background-color: rgba(32, 190, 188, 0.8);
}

.riley.ui__box-bubble:before {
  border-bottom: 20px solid rgba(32, 190, 188, 0.8);
}

.faber.ui__box-bubble,
.loading.faber.ui__box-bubble:before {
  background-color: rgba(90, 138, 14, 0.8);
}

.faber.ui__box-bubble:before {
  border-bottom: 20px solid rgba(90, 138, 14, 0.8);
}

.loading.ui__box-bubble:before {
  border-radius: 50px;
  border: 0;
  content: "\0020";
  height: 10px;
  left: -13px;
  position: absolute;
  top: 0px;
  width: 10px;
}

.ui__mask.current {
  display: block !important;
}

.ui__area:hover {
  z-index: 600;
}

.ui__area {
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  z-index: 550;
}

.ui__hover {
  left: 0;
  opacity: 0;
  position: absolute;
  top: -50px;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
  z-index: 595 !important;
}

.ui__hover.current {
  visibility: visible;
  opacity: 1;
}

.current {
  z-index: 570;
}

#cursor {
  border-radius: 0 0 145px 145px;
  height: 367px;
  left: 166px;
  width: 472px;
}

#window-manager {
  height: 190px;
  left: 1242px;
  width: 587px;
}

#window-manager::before {
  content: "\0020";
  height: 190px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 397px;
}

#window-manager::after {
  content: "\0020";
  height: 97px;
  left: 104px;
  position: absolute;
  top: 180px;
  transform: skew(65deg, -23deg);
  width: 355px;
}

#file-system {
  height: 239px;
  left: 0;
  top: 420px;
  width: 340px;
}

#file-system::before {
  content: "\0020";
  height: 127px;
  left: 56px;
  position: absolute;
  top: -88px;
  transform: skew(65deg, -23deg);
  width: 155px;
}

#file-system::after {
  content: "\0020";
  height: 127px;
  left: -149px;
  position: absolute;
  top: 192px;
  transform: skew(65deg, -23deg);
  width: 355px;
}

#memory-manager {
  border-radius: 240px/374px 233px 0 0;
  height: 584px;
  left: 1440px;
  top: 354px;
  width: 457px;
}

#dev-null {
  border-radius: 252px/165px;
  height: 318px;
  left: 329px;
  top: 706px;
  width: 494px;
}

#dev-null::before {
  content: "\0020";
  height: 160px;
  left: 49px;
  position: absolute;
  top: -53px;
  transform: skew(0, -23deg);
  width: 70px;
}

#kernel {
  border-radius: 235px/320px;
  height: 558px;
  left: 762px;
  top: 88px;
  width: 395px;
}

#clock {
  border-radius: 50%;
  height: 205px;
  left: 857px;
  top: 179px;
  width: 205px;
  z-index: 650;
}

.ui__daemon {
  cursor: pointer;
  position: absolute;
  z-index: 625;
}

#window-daemon {
  border-radius: 103px/198px;
  height: 144px;
  left: 1353px;
  top: 117px;
  width: 110px;
}

#file-daemon {
  border-radius: 158px/195px;
  height: 144px;
  left: 53px;
  top: 469px;
  width: 109px;
}

#memory-daemon-out {
  border-radius: 119px/194px;
  height: 172px;
  left: 1283px;
  top: 691px;
  width: 116px;
}

#memory-daemon-in {
  border-radius: 158px/195px;
  height: 144px;
  left: 1700px;
  top: 423px;
  width: 116px;
}

#dev-daemon {
  border-radius: 158px/195px;
  height: 144px;
  left: 183px;
  top: 740px;
  width: 109px;
}

#cursor-daemon-4 {
  border-radius: 158px/195px;
  height: 144px;
  left: 296px;
  top: 60px;
  width: 99px;
}

#cursor-daemon-8 {
  border-radius: 158px/195px;
  height: 114px;
  left: 433px;
  top: 70px;
  width: 109px;
}

#cursor-daemon-5 {
  border-radius: 158px/195px;
  height: 84px;
  left: 295px;
  top: 236px;
  width: 139px;
}

#cursor-daemon-9 {
  border-radius: 158px/195px;
  height: 100px;
  left: 505px;
  top: 166px;
  width: 83px;
}

.daemon_7_still {
  animation: none !important;
}

.bg-sys {
  height: 1080px;
  position: fixed;
  width: 1920px;
  z-index: 505;
}
