[Desktop Entry]
Version=1.0
Name=Gobble
Type=Application
Exec=com.endlessm.Gobble
StartupNotify=true
Icon=com.endlessm.Gobble
Categories=Game;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.endlessm.Gobble.jpg
