[Desktop Entry]
Version=1.0
Name=Lightspeed
Type=Application
Exec=com.hack_computer.LightSpeed
StartupNotify=true
Icon=com.hack_computer.LightSpeed
Categories=Game;
X-Endless-LaunchMaximized=true
X-Endless-SplashBackground=com.hack_computer.LightSpeed.jpg